---
- hosts: all
  become: yes
  become_user: root
  become_method: sudo
  tasks:
    - name: Garantindo /etc/hosts
      lineinfile:
        path: /etc/hosts
        line: "{{ item }}"
      with_items:
        - 172.16.1.110 kube-single-master
        - 172.16.1.111 kube-single-node1
        - 172.16.1.112 kube-single-node2

    - name: Instalando pacotes de dependencias para o curso de Kubernetes
      yum:
        name: ['unzip', 'wget', 'elinks', 'rsync', 'git', 'vim']

    - name: Adicionar usuario suporte
      user:
        name: suporte
        shell: /bin/bash
        password : $1$QbUARykG$p2nthVG8AkDvabKPHwboa1

    - name: Criando o arquivo 98_4linux
      lineinfile:
        path: /etc/sudoers
        state: present
        insertafter: "root	ALL=(ALL:ALL) ALL"
        line: "suporte ALL=(ALL) NOPASSWD: ALL"        
    
    - name: Cria o diretório .ssh
      file:
        path: /root/.ssh
        state: directory
        owner: root
        group: root
        mode: '0755'
        
    - name: Criando o arquivo id_rsa
      copy:
        src: files/id_rsa
        dest: /root/.ssh/id_rsa
        owner: root
        group: root
        mode: 0600
        
    - name: Criando o arquivo id_rsa.pub
      copy:
        src: files/id_rsa.pub
        dest: /root/.ssh/id_rsa.pub
        owner: root
        group: root
        mode: 0644

    - name: Clona repositório com os arquivos do curso para a HOME do usuario suporte
      git:
        repo: 'https://github.com/4linux/4541.git'
        dest: /home/suporte/4541
        
    - name: Clona repositório com os arquivos do curso para a HOME do usuario root
      git:
        repo: 'https://github.com/4linux/4541.git'
        dest: /root/4541

    - name: Alterando arquivo do SELinux
      lineinfile:
          path: /etc/selinux/config
          regexp: '^SELINUX='
          line: 'SELINUX=disabled'

    - name: Desabilitando o Firewall
      command: systemctl disable firewalld

    - name: Parando FirewallD
      command: systemctl stop firewalld
