global
log /dev/log local0
log /dev/log local1 notice
chroot /var/lib/haproxy
stats socket /run/haproxy/admin.sock mode 660 level admin
stats timeout 30s
user haproxy
group haproxy
daemon

defaults
 log global
     mode http
     log global
     retries 2
     timeout connect 3000ms
     timeout server 5000ms
     timeout client 5000ms

frontend kubernetes
bind 172.16.1.150:6443
option tcplog
mode tcp
default_backend kubernetes-master-nodes

backend kubernetes-master-nodes
mode tcp
balance roundrobin
option tcp-check
server kube-multi-master1 172.16.1.151:6443 check fall 3 rise 2
server kube-multi-master2 172.16.1.152:6443 check fall 3 rise 2
server kube-multi-master3 172.16.1.153:6443 check fall 3 rise 2
